.crm {
  .inner-box {
    margin: 0 0 10px 0;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.06), 0 1px 0 0 rgba(0,0,0,0.02);
    padding: 5px;

    .inner-box-header {
      border-bottom: 1px solid rgba(0,0,0,.25);
      padding-bottom: 5px;
    }

    p > a {
      border-bottom: 1px dashed #000;
      padding-bottom: 1px;
    }
  }

  .timeline-desk {
    .panel {
      border: 1px solid rgba(0,0,0,.1);
    }

    .arrow-alt {
      border-left: 12px solid rgba(0,0,0,.1) !important;
    }

    .arrow {
      border-right: 12px solid rgba(0,0,0,.1) !important;
    }
  }

  .contact-card {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    background-color: #EEE;
    padding: 2px 5px;
    margin-bottom: 10px;

    a {
      border-bottom: 1px dotted #000;
      padding-bottom: 1px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .new_note_actions {
    border-top: 1px solid rgba(0,0,0,.25);
    margin: 5px 0;
    padding: 5px;

    h6 {
      padding: 5px;
    }

    .crm_contact_association {
      border: 1px solid rgba(0,0,0,.5);
      padding: 5px 10px;
      display: inline;
      background-color: #EEE;
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }

      a:hover {
        border-bottom: 1px solid #000;
      }
    }

    .crm_assoc_add {
      background-color:rgba(27,185,154,1);

      &:hover {
        background-color:rgba(27,185,154,.25) !important;
      }
    }
  }

  #clear-search {
    position: absolute;
    top: .2rem;
    right: 1.25rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #AA0000;

    &:hover {
      background-color: transparent !important;
    }
  }
}