// This is the document that contains all custom written SCSS outside of the bounds of what's going on

.cursor-hand {
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $custom;
    border-radius: 6px;
  }
}

// override the padding on both blocks and boxes
.card-block {
  padding: 5px;
}

.card-box {
  padding: 5px;

  &:hover {
    background-color: $gold;
  }
}

// allow custom background colors
.bg-lightgray {
  background-color: rgba(228, 228, 228, .8);
}

// small text
.text-sm-10 {
  font-size: 10px;
}

.pad-lr-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.pad-lr-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

// job coloring
.job-color-green {
  background-color: $job-green;
}

.job-color-yellow {
  background-color: $job-yellow;
}

.job-color-orange {
  background-color: $job-orange;
}

.job-color-red {
  background-color: $job-red;
}

/* Override section
 * This is where all of the overrides take place
 */

// Override the nav link custom (this is for tabs at the top of view_contact specifically)
.nav-link.active {
  background-color: #f5f5f5 !important;
}

// override tabs and their padding information
.nav-tabs {
  margin-top: -3px;

  .nav-link {
    padding: 1px 1em !important;
  }
}

// override tablesaw CSS information
.tablesaw-advance {
  font-size: .75em;
  margin-bottom: 3px;
}

.mode-swipe {
  margin-top: -7px;
}

// gantt chart
#job_status_gantt {
  width: 100%;
  height: 500px;
}

// custom group for "panel" on the pricing program
.pricing_group {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #AAAAAA;
  margin: 10px 0;
  padding: 2px;
}

// option group enabled dropdown text (black, overrides the text-muted option dropdown)
.text-muted option:enabled {
  color: #000000;
}

// adding a bottom border
.bottom-border:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

// setting the jquery UI state active color
.ui-state-active {
  background: $brand-primary;
}

// fullcalendar color adjustment
.fc-event-dot {
  background-color: $brand-primary !important;
}

// manage brackets table specifically
.bracket-adjustment-table {
  margin: 0 auto;
  border-collapse: separate;
}

// multi-select bracket header styling
.bracket-adjustment-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}

// label adjustment
label {
  margin-bottom: 0;
}

// borders for the brackets
.bracket-border-top {
  border: solid $brand-primary;
  border-width: 3px 3px 0 3px;
  border-radius: 5px 5px 0 0;
}

.bracket-border-bottom {
  border: solid $brand-primary;
  border-width: 0 3px 3px 3px;
  border-radius: 0 0 5px 5px;
}

// first row inside of each bracket - lines things up and makes it look good
.bracket-header-custom {
  margin: 0 auto;
  width: 99%;
}

// fix multi-select font (why so goddamn big?)
.ms-container .ms-selectable {
  width: 47% !important;

  li.ms-elem-selectable {
    font-size: .9em !important;
    padding: 2px 4px !important;
  }
}

.ms-container .ms-selection {
  width: 47% !important;

  li.ms-elem-selection {
    font-size: .9em !important;
    padding: 2px 4px !important;
  }
}

// turn off all printing of the header
@media print {
  .topbar-main {
    display: none !important;
    margin: 0;
    padding: 0;
  }

  .body {
    font-size: .75em;
  }
}

// data-table adjustments
.table-responsive .table {
  margin-top: 5px; // weird, i know, but it adjusts for datatable table.
}

.table th, .table td {
  padding: 2px;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  top: 0;
}

// regular table adjustments!
.table th, .table td {
  line-height: 1.7em;
}

table tbody td {
  vertical-align: middle !important;
}

// active room line, part of the table but not specifically
.active_room_line {
  background-color: #00aced;
}

.table .table {
  background: none; // why does tables.scss have a background color for the entire table? stupid.
}

// custom table, no border and more
.table-custom-nb {
  border-collapse: collapse !important;
  border: none !important;

  td, tr {
    border: none !important;
  }
}

.radio, .checkbox {
  margin-bottom: 2px !important;
}

// custom UL
.custom_ul {
  li {
    display: block;
  }

  ul {
    list-style-type: none;
    font-size: .8em;
  }
}

// custom save button
.save_bar {
  z-index: 9999;
  position: fixed;
  left: calc(50% - 30px);
  top: 125px;

  .button {
    font-weight: bold;
  }
}

// faux button
.faux_button {
  width: 23px;
  height: 22px;
  line-height: 20px;
}