// This is the document that contains all custom written SCSS outside of the bounds of what's going on
@import "variables";

// turn off all printing of the header
@media print {
  .topbar-main {
    display: none !important;
    margin: 0;
    padding: 0;
  }

  .body {
    font-size: .75em;
  }

  .wrapper {
    padding-top: 5px !important;
  }

  #topnav {
    display: none !important;
  }
}

body, html, .account-pages {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: $brand-primary; // dunno what to do with this.
  color: #000000;
}

.footer {
  padding: 0 0 10px 0;
  background: #000000;
  border-top: none;
  box-shadow: 24px 0 0 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  z-index: 1000;
}

.cursor-hand {
  cursor: pointer;

  &:hover {
    background-color: rgba(192,192,192,.5) !important;
  }

  &:active {
    background-color: rgba(192,192,192,.75) !important;
  }
}

// override the padding on both blocks and boxes
.card-block {
  padding: 5px;
}

.card-box {
  padding: 5px 10px;
}

.card {
  padding: 0.5rem;
  background-color: #F9F9F9;
}

// allow custom background colors
.bg-lightgray {
  background-color: rgba(228, 228, 228, .8);
}

// small text
.text-sm-10 {
  font-size: 10px;
}

.pad-lr-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.pad-lr-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

// job coloring
.job-color-green {
  background-color: $job-green;
}

.job-color-yellow {
  background-color: $job-yellow;
}

.job-color-orange {
  background-color: $job-orange;
}

.job-color-red {
  background-color: $job-red;
}

.job-color-gray {
  background-color: $job-gray;
}

/* Override section
 * This is where all of the overrides take place
 */

// adjust text box padding
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  width: auto;
  margin-left: 0;
  margin-top: 0.125rem;
}

// change logo to match text sizing
.logo {
  text-transform: none;
}

// override tabs and their padding information
.nav-tabs {
  margin-top: -3px;

  .nav-link {
    padding: 1px 1em !important;
    background-color: #666;
    color: #FFF;
  }

  .nav-link.active {
    background-color: #000 !important;
    color: #FFF !important;
  }
}

// override tablesaw CSS information
.tablesaw-advance {
  font-size: .75em;
  margin-bottom: 3px;
}

.mode-swipe {
  margin-top: -7px;
}

// gantt chart
#job_status_gantt {
  width: 100%;
  height: 500px;
}

// custom group for "panel" on the pricing program
.pricing_group {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #AAAAAA;
  margin: 10px 0;
  padding: 2px;
}

// option group enabled dropdown text (black, overrides the text-muted option dropdown)
.text-muted option:enabled {
  color: #000000;
}

// adding a bottom border
.bottom-border:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

// setting the jquery UI state active color
.ui-state-active {
  background: $brand-primary;
}

// fullcalendar color adjustment
.fc-event-dot {
  background-color: $brand-primary !important;
}

// manage brackets table specifically
.bracket-adjustment-table {
  margin: 0 auto;
  border-collapse: separate;
}

// multi-select bracket header styling
.bracket-adjustment-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}

// label adjustment
label {
  margin-bottom: 0;
}

// borders for the brackets
.bracket-border-top {
  border: solid $brand-primary;
  border-width: 3px 3px 0 3px;
  border-radius: 5px 5px 0 0;
  background-color: $brand-primary;
  color: $white;

  .c-input {
    color: $white;
  }
}

.bracket-border-bottom {
  border: solid $brand-primary;
  border-width: 0 3px 3px 3px;
  border-radius: 0 0 5px 5px;
}

// first row inside of each bracket - lines things up and makes it look good
.bracket-header-custom {
  margin: 0 auto;
  width: 99%;
}

// fix multi-select font (why so goddamn big?)
.ms-container .ms-selectable {
  width: 47% !important;

  li.ms-elem-selectable {
    font-size: .9em !important;
    padding: 2px 4px !important;
  }
}

.ms-container .ms-selection {
  width: 47% !important;

  li.ms-elem-selection {
    font-size: .9em !important;
    padding: 2px 4px !important;
  }
}

.table th, .table td {
  padding: 2px;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  top: 0;
}

// regular table adjustments!
.table th, .table td {
  line-height: 1.5em;
}

table tbody td {
  vertical-align: top;
}

// active room line, part of the table but not specifically
.active_room_line {
  background-color: #CCCCCC;
}

.table .table {
  background: none; // why does tables.scss have a background color for the entire table? stupid.
}

// custom table, no border and more
.table-custom-nb {
  border-collapse: collapse !important;
  border: none !important;

  td, tr {
    border: none !important;
    padding: 0;
  }
}

.radio, .checkbox {
  margin-bottom: 2px !important;
}

// custom UL
.custom_ul {
  li {
    display: block;
  }

  ul {
    list-style-type: none;
    font-size: .8em;
  }
}

// custom save button
.save_bar {
  z-index: 9999;
  position: fixed;
  left: calc(50% - 30px);
  top: 125px;

  .button {
    font-weight: bold;
  }
}

// faux button
.faux_button {
  width: 23px;
  height: 22px;
  line-height: 20px;
}

// CSS only tooltip, useful for AJAX calls not working properly with Bootstrap tooltip
.custom_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.custom_tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.custom_tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.custom_tooltip:hover .tooltiptext {
  visibility: visible;
}

// loading spinner
.js_loading {
  z-index: 1000;
  position: absolute;
  top: 12px;
  left: calc(50% - 18px);
  color: #FFFFFF;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.small-text {
  font-size: .9em;
}

// top navigation customization/theme matching
#topnav {
  .topbar-main {
    background-color: #000;
  }

  .navbar-custom {
    border-top: 1px solid #FFF;
    background-color: #000;
  }

  .navigation-menu > li:hover a {
    color: #CCCCCC;
    background-color: rgba(255,255,255,.2);
  }

  .navigation-menu > li > a {
    padding-left: 10px;
    color: #FFF;

    &:hover {
      cursor: pointer;
      background-color: rgba(255,255,255,.2);
      color: #FFF;
    }

    &:active {
      color: #CCCCCC;
      background-color: rgba(255,255,255,.2);
    }
  }

  .submenu > li {
    &:hover {
      background-color: rgba(0,0,0,.2);
      cursor: pointer;
    }
  }

  // navigation separator
  .nav-separator {
    background-color: rgba(255,255,255,.5);
    opacity: 0.6;
    border: 1px dotted rgba(255,255,255,.25);
    height: 42px;
    width: 1px;
  }

  // search bar location change
  .app-search {
    .form-control {
      margin-top: 4px;
      color: rgba(170,170,170,.8);

      &:focus {
        margin-top: 4px;
        color: rgba(170,170,170,.8);
      }
    }

    a {
      color: rgba(255,255,255,.5);
      top: 4px;
    }
  }
}



// destroy the tiny MCE annoying domain settings popup because we cannot add sub-domain...
.mce-notification-warning {
  display: none;
}

// adjust the search icon
.app-search > a {
  cursor: pointer;
}

.label-right {
  label {
    text-align: right;
    width: 100%;
  }
}

// adjustment for centering button
.active-center-button {
  margin-left: 12px;
}

// floating left button!
.floating-button-left {
  position: fixed;
  z-index: 1000;
  top: 270px;
  left: 40px;
}

// custom logo icon thingy!
.custom-logo {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 1000;
}

// adjusting the header...
.topbar-main .container {
  height: 42px;
}

.logo {
  line-height: 42px;
}

#topnav .topbar-main .navbar-nav .nav-link {
  line-height: 42px;
}

.wrapper {
  padding-top: 91px;
  padding-bottom: 30px;
}

// VIN input adjustment
.vin-codes {
  select {
    width: 221px;
  }

  .force-width {
    width: 221px;
  }
}

.custom-table {
  border: none;
}

#queue_header {
  width: 100%;
  line-height: 26px;
}

.nowrap {
  white-space: nowrap;
}

// task screen, custom description
.task_description {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #000000;
  width: 100%;
  max-height: 175px;
  overflow-y: auto;
}

// modal header
.modal-header {
  cursor: move;
}

// wiggle, nofication
@keyframes wiggle {
  0% {transform:rotate(4deg);}
  10% {transform:rotate(-4deg);}
  70% {transform:rotate(4deg);}
  80% {transform:rotate(-4deg);}
}

.wiggler {
  -webkit-animation: wiggle 3s infinite;
  -moz-animation: wiggle 3s infinite;
  animation: wiggle 3s infinite;
}

.table-v-top td {
  vertical-align: top !important;
}

.sticky {
  position: sticky;
  top: 100px;

  .btn-primary-outline {
    background-color: #FFFFFF !important;

    &:hover {
      color: #AAAAAA;
    }
  }
}

.sales_list_dealer {
  height: 1.25em;
  background-color: rgba(55,89,215,1);
  color: #FFFFFF;
  font-weight: bold;
}

.highlight_so {
  background-color: #F9F9F9;
}

.table_outline {
  table {
    border: 1px solid #000;
    border-collapse: separate;
    border-radius: 5px;
  }

  td, th {
    border: none;
    border-collapse: collapse;
  }
}

.checkbox label {
  line-height: 22px;
}

.checkbox label::after {
  top: -1px;
}

// This alerts the user that the server is not connected, required to work properly
#server_failure {
  background-color: rgba(255,0,0,.75);
  color: #FFF;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 5px 5px;
  padding: 2px 10px;
}

@media (max-width: 600px) {
  .custom-logo {
    display: none;
  }
}

// EagleEye Text
.custom-logo {
  font-family: 'Patua One', cursive;
  position: absolute;
  z-index: 2;
  margin: -2px 130px 0 0;
  right: 0;
  color: #FFF;
}

#header_container {
  float: right;
}

#header_main {
  font-size: 18px;
  letter-spacing: 1px;
}

#header_min {
  font-size: 12px;
  letter-spacing: 0;
  margin-top: -7px;
  text-align: center;
}

#slogan {
  font-size: 12px;
  text-align: center;
  float: left;
  width: 100px;
  margin-right: 20px;

  &::after {
    clear: both;
  }
}

#clock {
  float: right;
  text-align: right;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 42px;
  position: absolute;
  top: 0;
  right: 10px;
}

h5 {
  margin: 0.5rem 0;
}

.swimlane {
  max-height: 86.6vh;
  overflow-y: auto;

  .card {
    &:hover {
      background-color: #EEEEEE;
    }
  }

  .sticky {
    top: -5px;
    z-index: 2;
    background-color: #FFFFFF;
  }
}

.hidden-section {
  display: none;
}

.text-secondary {
  color: $gray-light;
}

.c-input {
  line-height: 14px;
}

// Wizard flow
.wizard {
  > .content {
    overflow-y: auto !important;
    height: 59vh;
    min-height: inherit;
    margin-top: 0 !important;

    .body {
      width: 99% !important;
      padding: 0 !important;
      left: 5px;
      top: 5px;
    }
  }

  > .steps > ul > li {
    width: 10% !important;
  }
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
  padding: 0 6px !important;
  font-size: 12px;
  height: 51px;
}

.vin_table {
  width: 100%;

  .active {
    background-color: $brand-success;
  }

  .subitems {
    .item {
      float: left;
      border-bottom: none;
      border-right: 1px solid $brand-primary;
      padding: 0;
      margin: 0;

      &:last-of-type {
        border-right: 0;
      }
    }

    &:hover {
      background-color: #EEEEEE;
    }

    .clearfix:hover {
      background-color: #EEEEEE;
    }
  }

  td {
    width: 10%;
    text-align: center;
    vertical-align: top !important;

    > div {
      border-right: 1px solid $brand-primary;
      cursor: pointer;

      > div {
        padding: 10px;
        border-bottom: 1px solid $brand-primary;
        margin: 10px;

        &:hover {
          background-color: #DDDDDD;
        }

        img {
          max-width: 127px;
          max-height: 324px;
        }
      }
    }
  }

  tr {
    width: 100%;
  }

  th {
    background-color: $brand-primary;
    color: $white;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 10px;
    border-radius: 5px 5px 0 0;
  }

  tbody {
    width: 100%;
  }
}

/** Custom Dropdown **/
#vin_info_input {
  td {
    vertical-align: top !important;
  }
}

.custom_dropdown {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  img {
    max-width: 155px;
    max-height: 340px;
  }

  .wide_img {
    max-width: 1000px;
  }

  .selected {
    border: none;
    float: left;
    width: 100%;
    padding-left: 0;
    min-height: 12px;
    font-weight: bold;

    input {
      display: block;
    }

    img {
      display: none;
    }
  }

  .dropdown_arrow {
    position: absolute;
    right: 8px;
    top: 1px;
  }

  .dropdown_options {
    border: 1px solid #CCC;
    clear: both;
    display: none;
    position: absolute;
    z-index: 1002;
    width: 100%;
    background-color: #FFFFFF;
    top: 20px;
    overflow-y: auto;

    .option_list {
      .header {
        font-weight: bold;
        font-size: 1.2em;
        background-color: $brand-primary;
        color: #FFFFFF;
        margin: 5px 0;
        padding-left: 5px;

        &:first-of-type {
          margin: 0 0 5px 0;
        }
      }

      img {
        display: none;
      }

      .sub_option_header {
        padding-left: 15px;
        color: #555555;
        font-weight: bold;
      }

      .sub_option {
        padding-left: 40px;
      }
    }

    .option {
      padding-left: 15px;

      > input {
        display: none;
      }

      &:hover {
        background-color: rgb(30,144,255);
        color: #FFFFFF;
      }
    }

    .option_grid {
      //display: none;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      > .header {
        font-weight: bold;
        font-size: 1.2em;
        background-color: $brand-primary;
        color: #FFFFFF;
        margin: 5px 0;
        padding-left: 5px;
        width: 100%;

        &:first-of-type {
          margin: 0 0 5px 0;
        }
      }

      .grid_element {
        min-width: 150px;
        min-height: 150px;
        padding: 10px;
        text-align: center;

        img {
          max-width: 1000px;
        }

        input {
          display: none;
        }

        .option {
          &:hover {
            background-color: rgb(30,144,255);
            color: #FFFFFF;
          }
        }

        > .header {
           text-align: center;
           font-weight: bold;
           font-size: 1.1em;
           margin-bottom: 2px;
         }
      }
    }
  }
}

.post_to_cal {
  margin-bottom: 5px;
  display: none;
}

// custom coloring for icons and stuff
.primary-color {
  color: $brand-primary;

  &:hover {
    color: lighten($brand-primary, 25%);
  }
}

.success-color {
  color: $brand-success;

  &:hover {
    color: darken($brand-success, 15%);
  }
}

.danger-color {
  color: $brand-danger;

  &:hover {
    color: darken($brand-danger, 15%);
  }
}

.secondary-color {
  color: $gray;

  &:hover {
    color: darken($gray, 15%);
  }
}

// adjustments for editing the room, TABLES!
.tr_room_actions {
  table, td, th {
    border: 0 none;
  }
}

// Adjusting the button with icons because it's smaller
.btn-label {
  padding: 7px 10px;
  margin: -7px -8px;
  margin-right: 5px;
}

.no-wrap {
  white-space: nowrap;
}

// customize page header
.page-header {
  margin-top: 2px;
  padding: 5px;
  border-bottom-color: #000000;
}

.project_name_popup {
  position: absolute;
  border: 1px solid rgba(0,0,0,.25);
  background-color: rgba(64,64,64,.5);
  padding: 4px;
  z-index: 10;
}

.custom_note_box {
  border: 1px solid #AAA;
  margin-top: 5px;
  background-color: #d8d8d8;
  padding: 4px;
  border-radius: .25rem;
  height: 40vh;
  overflow-y: auto;
}

.c_dropdown {
  font-weight: bold;
  width: 100%;
  outline: none;
}

.c_input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: dotted #000;
  border-width: 0 0 1px 0;
  display: block;
  width: 100%;

  &[type=select] {
    margin-left: -4px;
  }

  &[type=radio], &[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: auto;
  }

  &[type=textarea] {
    border: 1px solid #CCC;
    height: 180px;
    border-radius: 0 0 4px 4px;
  }

  optgroup {
    background-color: #000;
    color: #FFF;
  }

  option {
    background-color: #FFF;
    color: #000;
  }
}

.add_iteration {
  font-size: 10px;
  width: 30px;
  height: 22px;
  margin-top: 1px;
  padding: 0;
  visibility: visible;
}

// calendar new event popup in CRM.
.dhx_cal_light {
  z-index: 1000 !important;
}

// calendar prompt popup for deleting event in CRM.
.dhtmlx_modal_box {
  z-index: 1000 !important;
}