@import "pricing_coversheet";
@import "page_setup";

.pricing_left_nav {
  border: 1px solid #CCC;
  border-radius: 5px;
  @extend .no-select; // implements no text selection on the entire navigation menu
  height: 82vh;
  overflow-y: auto;
  background-color: #F0F0F0;

  .form-control {
    background-color: transparent;
  }

  select {
    border-width: 0 0 1px 0;
    border-radius: 0;
  }

  .main_level, .sub_level, .parent {
    list-style: none;
    padding: 0;
    margin: 0;

    ul {
      padding-left: 10px;
    }
  }

  .child {
    display: none;
  }

  .main_level span {
    display: block;
    padding: 5px;
    border-radius: 5px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e7e9ff+50,dbdfff+51,ffffff+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,233,255,1) 50%, rgba(219,223,255,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,233,255,1) 50%,rgba(219,223,255,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(231,233,255,1) 50%,rgba(219,223,255,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    &:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e8ff+0,cfd4ff+50,c3c9ff+51,e5e8ff+100 */
      background: rgb(229,232,255); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(229,232,255,1) 0%, rgba(207,212,255,1) 50%, rgba(195,201,255,1) 51%, rgba(229,232,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(229,232,255,1) 0%,rgba(207,212,255,1) 50%,rgba(195,201,255,1) 51%,rgba(229,232,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(229,232,255,1) 0%,rgba(207,212,255,1) 50%,rgba(195,201,255,1) 51%,rgba(229,232,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8ff', endColorstr='#e5e8ff',GradientType=0 ); /* IE6-9 */
      cursor: pointer;
    }
  }

  .sub_level span {
    padding-left: 15px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e7e9ff+50,dbdfff+51,ffffff+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,233,255,1) 50%, rgba(219,223,255,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,233,255,1) 50%,rgba(219,223,255,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(231,233,255,1) 50%,rgba(219,223,255,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    &:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e8ff+0,cfd4ff+50,c3c9ff+51,e5e8ff+100 */
      background: rgb(229,232,255); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(229,232,255,1) 0%, rgba(207,212,255,1) 50%, rgba(195,201,255,1) 51%, rgba(229,232,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(229,232,255,1) 0%,rgba(207,212,255,1) 50%,rgba(195,201,255,1) 51%,rgba(229,232,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(229,232,255,1) 0%,rgba(207,212,255,1) 50%,rgba(195,201,255,1) 51%,rgba(229,232,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8ff', endColorstr='#e5e8ff',GradientType=0 ); /* IE6-9 */
      cursor: pointer;
    }
  }

  .line_item span {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    &:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,c2c2c2+100 */
      background: rgb(226,226,226); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(194,194,194,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(194,194,194,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(194,194,194,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c2c2c2',GradientType=0 ); /* IE6-9 */
    }
  }

  ul.fancytree-container {
    border:none;
  }

  .nav_filter {
    background-color: #F0F0F0;
    top: 0;
    z-index: 2;
  }

  .actions {
    margin-left: 5px;
  }
}

@media screen {
  .pricing_table_format {
    padding-left: 15px;
  }

  .no_global_info {
    margin: 15px 0;
  }
}

.fancytree-title {
  white-space: normal;
  width: 70%;
}

.fancytree-container, span.fancytree-focused span.fancytree-title {
  outline: 0 !important;
}

.fc-simple{
  border-width:0 0 1px 0;
  border-radius:0;
}

.qty_input {
  width: 100%;
  background-color: transparent;
  text-align: center;
  border: none;
}

.pricing_table_format {
  .center_header {
    text-align: center;

    #company_info {
      font-size: .8em;
    }
  }
}

.checkbox label {
  line-height: normal !important;
  padding-left: 0 !important;
}

.info_container {
  display: inline;
  position: relative;
}

.info-popup {
  position: absolute;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0 5px 5px 5px;
  z-index: 1051;
  padding: 4px;
  display: none;
  transform: translate(5px, 0);
  box-shadow: 5px 5px 15px rgba(0,0,0,.5);

  .image {
    float: left;
  }

  .right_content {
    float: left;
    max-width: 300px;
    word-wrap: break-word;
    padding-left: 10px;
  }
}

.text-mini {
  font-size: .75em;
  text-align: center;
  line-height: 10px;
}

#cabinet_list {
  .cab-price {
    padding: 0 5px;
  }

  .cab-total {
    background-color: rgba(63, 191, 127, 0.5);
    border: solid #000;
    border-width: 0 0 1px 2px;
  }

  .main-level {
    font-weight: bold;
    border-top: 2px solid #000;
  }
}

#item_modifications {
  span.fancytree-custom-icon {
    display: none !important;
  }
}

.no_global_info {
  position: relative;

  margin-top: 15px;
  text-align: center;

  color: #FF0000;
  font-weight: bold;
  border: 2px solid #FF0000;

  i {
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:first-of-type {
      left: 1%;
    }

    &:last-of-type {
      right: 1%;
    }
  }
}

.select_test {
  width: 100%;
  border: solid #CCC;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: 0;
}

.room_note_box {
  border: 1px solid #AAA;
  margin-top: 5px;
  background-color: #d8d8d8;
  padding: 4px;
  border-radius: .25rem;
  height: 39vh;
  overflow-y: auto;
}

.custom_ul li {
  padding: 2px 0;
}

.cab_specifications_desc {
  padding-left: 10px;
}

h5 {
  padding-bottom: 5px;
}

.summary_of_charges {
  .left_header {
    background-color: #000;
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
    width: 229px;
    color: #FFF;
    padding-bottom: .25em;
    text-align: center;

    h5 {
      transform: rotate(-180deg);
    }
  }

  table {
    border-top: 4px double #000;
    border-right: 1px solid #000;
    margin-top: -2em;

    td {
      padding-left: 4px;
    }
  }
}

@media print {
  .summary_of_charges {
    .left_header {
      width: 162px;
    }

    table {
      margin-top: -2.45em;
    }

    page-break-inside: avoid;
  }

  h5 {
    font-size: 1.25em;
  }

  .th_17 {
    height: 17px;
  }

  /** Massive overhaul of the FancyTree table for Cabinet List **/
  #cabinet_list {
    span.fancytree-expander, img.fancytree-icon, span.fancytree-custom-icon {
      width: 12px;
      height: 12px;
    }

    .custom-select, span.fancytree-node, span.fancytree-title {
      min-height: 12px;
    }

    .fancytree-exp-e span.fancytree-expander {
      background-position: -32px -83px;
    }
  }
}