@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");

$dark: #132882;

body {
  background-color: $dark;
  font-family: "Roboto", sans-serif;
  color: white;
}

.std-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #FFF;

  th {
    text-align: left;
  }
}