@page {
    margin: 5mm 5mm 5mm 5mm;
}

body {
    padding: 0;
    margin: 0;
    -webkit-print-color-adjust: exact;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 7pt;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#header {
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 5px;
}

.clearfix {
    clear: both;
}

#logo_container {
    top: 10px;
    left: calc(50% - 85px);
    position: absolute;
}

#logo_container #company_info {
    text-align: center;
}

#header-left {
    width: 50%;
    float: left;
}

#header-left .title {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
}

#page_type {
    float: left;
    padding-top: 70px;
}

#page_type_header {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
}

#page_type .definition {
    font-size: 8pt;
    line-height: 19px;
}

#page_type .value {
    font-size: 10pt;
    font-weight: bold;
}

#header-right {
    float: right;
    width: 50%;
    text-align: right;
}

#page_info {
    float: right;
    padding-top: 70px;
}

#vin {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

#vin span {
    font-weight: bold;
    font-size: 8pt;
    margin-left: 8px;
    line-height: normal;
}

#globals {
    border-bottom: 1px solid #000;
    margin-top: 2px;
    padding-bottom: 8px;
}

#globals .global-subset {
    clear: left;
    padding: 8px 0;
    float: left;
}

table {
    font-size: 7pt;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.shipping-information {
    float: right;
    padding-bottom: 8px;
}

.shipping-information td {
    vertical-align: top;
}

.notes {
    clear: both;
}

#line-items {

}

.b-ul {
    font-weight: bold;
    text-decoration: underline;
}

.ul {
    text-decoration: underline;
}

.b {
    font-weight: bold;
}

#order-information {
    background-color: rgba(204,204,204,.8);
    width: calc(100% - 22px);
    margin: 30px 0;
    padding: 10px;
    border: 1px solid #000;
    -webkit-print-color-adjust: exact;
}

.sub-item {
    padding-left: 20px;
}

.highlight {
    background-color: rgba(255,255,0,.8);
    -webkit-print-color-adjust: exact;
}