#search_results_wrapper {
  .fa { // adjusting the icon to be clickable
    font-size: 14pt;
    margin-top: 3px;
  }

  .so_buttons {
    padding: 2px 4px;
  }

  .child_table {
    background-color: #a0a0a0;
  }
}